@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.font-nunito {
  font-family: 'Nunito', sans-serif;
}
@keyframes gradientShift {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
